:root {
  color-scheme: light dark;
  --tkf-app-shell-bg: var(--color-background-default);
  --tkf-app-shell-fg: var(--color-foreground-default);
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family-sans);
  background-color: var(--tkf-app-shell-bg);
  color: var(--tkf-app-shell-fg);
}
